.topCard {
    opacity: 0.5;
    /* box-shadow: 0 0 50px 5px gray; */
    border-radius: 30px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.topCard:hover {
    opacity: 1.0;
    color: white;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    /* box-shadow: 0 0 50px 5px blue; */
    border-radius: 30px;
}


.pexelImage{
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 0 0 50px 5px gray;
}



.card-title {
    padding-bottom: 300px;
    font-size: x-large;
}